* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 1200px;
  height: 100vh;
}
.contianer {
  width: 200px;
  height: 40px;
  background-color: blue;
}
